{% load static %}
<footer style="background: #C5CAE9; " class="footer ">
    <div class="container p-5 ">
      <div  class="row d-md-flex d-block">
        <div class="col ">
          <h5>About Me</h5>
          <p>Hi, I'm Dev Moha!  a full-stack developer with experience in both front-end and back-end technologies, I have a strong foundation to build on. I am passionate about coding and always eager to learn new skills and technologies. My quick learning ability allows me to adapt to new challenges and explore new areas of the tech industry, including AI. I believe that my dedication and passion make me a valuable asset to any development team..</p>
        </div>
        <div class="col"></div>
        <div class="col ">
          <h5>Contact Me</h5>
          <ul class="list-unstyled">
            <li>Email : codewithmoha@gmail.com</li>
            <li>Phone  : (619) 123-402</li>
            <li>Location: Banaadir , Mogadisho ,  Somalia</li>
            <li>Date : {{date}}</li>
            <p>Follow my accounts</p>
            <a class="btn btn-secondary  "  href="https://github.com/Dev-Moa" target="_blank">Github</a>
            <a class="btn btn-danger" href="https://www.youtube.com/@devmoha/videos" target="_blank">Youtube</a>
        
          </ul>
        </div>
        
        <div  class="col-md-2 justify-content-center ">
        </div>
      </div>
    </div>
  </footer>